{% extends 'base-login.jinja' %}

{% block form %}
    <form method='POST'>
        {{ form.hidden_tag() }}
        <div class="form-floating">
            {{ form.first_name(class="form-control", id="first_name", placeholder="first name") }}
            {{ form.first_name.label() }}
        </div>
        <div class="form-floating">
            {{ form.last_name(class="form-control", id="last_name", placeholder="last name") }}
            {{ form.last_name.label() }}
        </div>
        <div class="form-floating">
            {{ form.email(class="form-control", id="email", placeholder="name@example.com") }}
            {{ form.email.label() }}
        </div>
        <div class="form-floating">
            {{ form.password(class="form-control", id="password", placeholder="Password") }}
            {{ form.password.label() }}
        </div>
        <div class="form-floating">
            {{ form.password_confirm(class="form-control", id="password_confirm", placeholder="Confirm Password") }}
            {{ form.password_confirm.label() }}
        </div>

        {{ form.submit(class="w-100 btn btn-lg btn-primary") }}
    </form>
    <br>
    <p class="text-center">Already have an account? <a href="{{ url_for('login') }}"> Log in</a></p>

{% endblock form %}