<!DOCTYPE html>
<html lang="en">

<html>
    <head>
        {% include 'inc/head.jinja' %}
    </head>
    <body>
        {% include 'inc/alerts.jinja' %}
        {% include 'inc/jsbootstrap.jinja' %}
        {% include 'inc/navbar.jinja' %}
        <div class="container shadow p-3 mb-5 bg-white rounded">
            {% block body %}{% endblock body %}
        </div>
    </body>
</html>