{% extends 'base-sidebar.jinja' %}

{% block body %}
    <script>
        document.getElementById("dashboard").classList.add('active');
    </script>
    <main>
    <h4 class="text-center">Scoring History</h4>
    <br>
    <table class="table table-striped table-hover table-condensed">
        <thead>
            <tr>
                <th scope="col"><p class="text-center">#</p></th>
                <th scope="col"><p class="text-center">Project Name</p></th>
                <th scope="col"><p class="text-center">Date Scored</p></th>
                <th scope="col"><p class="text-center">Model Used</p></th>
                <th scope="col"><p class="text-center">Files Scored</p></th>
                <th scope="col"><p class="text-center">Download Archive</p></th>
                <th scope="col"><p class="text-center">Edit</p></th>
                <th scope="col"><p class="text-center">Delete Log</p></th>
            </tr>
        </thead>
        {% for log in logs %}
            <tbody>
                <tr >
                    <th scope="row"><p class="text-center">{{ log.id }}</p></th>
                    <td><p class="text-center">{{ log.project_name }}</p></td>
                    <td><p class="text-center">{{ log.date_scored }}</p></td>
                    <td><p class="text-center">{{ log.model }}</p></td>
                    <td>
                        <a href="#collapseFiles{{ log.id }}" data-bs-toggle="collapse">
                        {# <a data-toggle="collapse" href="#collapseFiles" role="button" aria-controls="collapseFiles"> #}
                            <p class="text-center">Toggle View</p>
                        </a>
                        <div class="collapse" id="collapseFiles{{ log.id }}">
                            {% for file in files[loop.index-1] %}
                                <p class="text-center">{{ file }}</p>
                            {% endfor %}
                        </div>
                    </td>
                    <td>
                        <a href="{{ url_for('download_archive_zip', filename=log.filename) }}">
                            <p class="text-center">Download</p>
                        </a>
                    </td>
                    <td>
                        <div class="text-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                            </svg>
                        </div>
                    </td>                    
                    <td>
                        <div class="text-center">
                            <a href="{{ url_for('delete_log', log_id=log.id) }}" class="btn btn-sm btn-outline-danger">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                            </svg>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        {% endfor %}
    </table>
    </main>
{% endblock body %}