{% extends 'base-sidebar.jinja' %}
{% block dashboard_class%}
nav-link link-dark
{% endblock %}
{% block score_data_class%}
nav-link active
{% endblock %}
{% block notes_class%}
nav-link link-dark
{% endblock %}
{% block body %}

<script>
    var slideIndex = 1;

    function plusDivs(n) {
    showDivs(slideIndex += n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) {slideIndex = 1}
        if (n < 1) {slideIndex = x.length} ;
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex-1].style.display = "block";
    }
</script>

<main>
    <div class="d-flex justify-content-center">
        <form id='download-button' method='POST' action="{{ url_for('download_zip', filename=new_filename) }}">
            <input type="submit" value="Download Scored NeuroScore files (ZIP)" class="w-100 btn btn-primary">
        </form>
    </div>
    <br>
    <div class="d-flex justify-content-center">
        <form id='download-graph-button' method='POST' action="{{ url_for('download_zip', filename=graphs_filename) }}">
            <input type="submit" value="Download Graphs (ZIP)" class="w-100 btn btn-primary">
        </form>
    </div>
    <br>
    {% if iszip %}
        <div class="d-flex justify-content-center">
            <img src="{{ url_for('static', filename='graphs/kde/'+kde_file) }}" style="border: 1px solid #000; padding:0;">
        </div>
        <br>
    {% endif %}
    <div class="d-flex justify-content-center">
        {% if iszip %}
            <button class="" onclick="plusDivs(-1)">&#10094;</button>
        {% endif %}
        {% for file in files %}
            <div>
                {% if loop.index == 1 %}
                    <img class="mySlides" src="{{ url_for('static', filename='graphs/'+file) }}" style="display: block; border: 1px solid #000; padding:0;">
                {% else %}
                    <img class="mySlides" src="{{ url_for('static', filename='graphs/'+file) }}" style="display: none; border: 1px solid #000; padding:0;">
                {% endif %}
            </div>
            <br>
        {% endfor %}
        {% if iszip %}
            <button class="" onclick="plusDivs(+1)">&#10095;</button>
        {% endif %}
    </div>

    {% for i in range(10) %}
        <br>
    {% endfor %}
</main>

{% endblock body %}