{% extends 'base-sidebar.jinja' %}
{% block dashboard_class%}
nav-link link-dark
{% endblock %}
{% block score_data_class%}
nav-link active
{% endblock %}
{% block notes_class%}
nav-link link-dark
{% endblock %}
{% block body %}
<main>
    <div class="d-flex justify-content-center">
        <form id='download-button' method='POST' action="{{ url_for('download_zip', filename=new_filename) }}">
            <input type="submit" value="Download Scored NeuroScore files (ZIP)" class="w-100 btn btn-primary">
        </form>
    </div>
    <br>
    <div class="d-flex justify-content-center">
        <form id='download-graph-button' method='POST' action="{{ url_for('download_zip', filename=graphs_filename) }}">
            <input type="submit" value="Download Graphs (ZIP)" class="w-100 btn btn-primary">
        </form>
    </div>
    <br>
    {% for file in files %}
        <div class="d-flex container justify-content-center">
            <img src="{{ url_for('static', filename='graphs/'+file) }}" style="border: 1px solid #000; padding:0;">
        </div>
        <br>
    {% endfor %}
</main>

{% endblock body %}