{% extends 'base.jinja' %}

{% block body %}
    <h1 class="text-center">Welcome to Aurora</h1>
    <p class="text-center">A very nice description of our project ...</p>
    <div class="d-flex justify-content-center">
        <a href="{{ url_for('login') }}">
            <p class='btn btn-primary'>Login</p>
        </a>
    </div>
    <div class="d-flex justify-content-center">
        <a href="{{ url_for('add_user') }}">
            <p class='btn btn-primary'>Create User</p>
        </a>
    </div>
{% endblock body %}