{% extends 'sign-base.jinja' %}

{% block form %}
    <form method='POST'>
        {{ form.hidden_tag() }}
        <div class="form-floating">
            {{ form.email(class="form-control", id="floatingInput", placeholder="name@example.com") }}
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
            {{ form.password(class="form-control", id="floatingPassword", placeholder="Password") }}
            <label for="floatingInput">Password</label>
        </div>
        {{ form.submit(class="w-100 btn btn-lg btn-primary") }}
    </form>
    <br>
    <p class="text-center">Or <a href="{{ url_for('add_user') }}"> create a new user</a></p>

{% endblock form %}