{% extends 'base-sidebar.jinja' %}
{% block body %}
<script>
    console.log(document.getElementById("dashboard").classList)
    document.getElementById("dashboard").classList.remove('active');
    document.getElementById("dashboard").classList.add('link-dark');
    document.getElementById("scoredata").classList.remove('active');
    document.getElementById("scoredata").classList.add('link-dark');
    document.getElementById("scoredatazdb").classList.add('active');
    document.getElementById("scoredatazdb").classList.add('link-dark');
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    var source = new EventSource({{ url_for('main_score_zdb', model=model, iszip=iszip, data_filename=data_filename, zdb_filename=zdb_filename, email=email)|tojson }});
    source.onmessage = function(event) {
        const data = event.data.split("\t")
        let progress = data[0]
        let msg = data[1]
        if(progress == 0){
            source.close()
            $("#step-message").addClass('d-none')
            $("#error-message").removeClass('d-none');
            $("#error-message").text("ERROR: " + msg)
            $('.progress-bar').css('background-color', '#ff3333');
        }
        else{
            $('.progress-bar').css('width', progress+'%').attr('aria-valuenow', progress);
            $('.progress-bar-label').text(progress+'%');
            $("#step-message").text(msg)
            if(progress == 100){
                source.close()
                $('.progress-bar').css('background-color', '#198754');
                $("#download-button").removeClass('d-none');
            }
        }
    }
</script>
<main>
    <h1 class="text-center">Scoring Data</h1>
    <p class="text-center">- Do not close page</p>
    <div class="d-flex justify-content-center">
        <div id="progress-bar" class="progress" style="width: 50%; margin: 50px;">
            <div class="progress-bar progress-bar-striped active progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                <span class="progress-bar-label">0%</span>
            </div>
        </div>
    </div>

    <p id="step-message" class="text-center"></p>
    <p id="error-message" class="d-none text-center"></p>

    <div class="d-flex justify-content-center">
        <form id='download-button' class='d-none' method='POST' action="{{ url_for('download_zip', filename=new_filename) }}">
            <input type="submit" value="Download Scored ZDB files (ZIP)" class="w-100 btn btn-primary">
        </form>
    </div>
</main>

{% endblock body%}