{% extends 'base-sidebar.jinja' %}

{% block dashboard_class%}
nav-link active
{% endblock %}
{% block score_data_class%}
nav-link link-dark
{% endblock %}
{% block notes_class%}
nav-link link-dark
{% endblock %}
{% block body %}
    <h4 class="text-center">User Requests</h4>
    <br>
    <table class="table table-striped table-hover table-condensed">
        <thead>
            <tr>
                <th scope="col"><p class="text-center">#</p></th>
                <th scope="col"><p class="text-center">Last Name</p></th>
                <th scope="col"><p class="text-center">First Name</p></th>
                <th scope="col"><p class="text-center">Email</p></th>
                <th scope="col"><p class="text-center">Date Added</p></th>
                <th scope="col"><p class="text-center">Approve</p></th>
                <th scope="col"><p class="text-center">Delete</p></th>
            </tr>
        </thead>
        {% for user in user_requests %}
            <tbody>
                <tr>
                    <th scope="row"><p class="text-center">{{ user.id }}</p></th>
                    <td><p class="text-center">{{ user.last_name }}</p></td>
                    <td><p class="text-center">{{ user.first_name }}</p></td>
                    <td><p class="text-center">{{ user.email }}</p></td>
                    <td><p class="text-center">{{ user.date_added }}</p></td>
                    <td>
                        <div class="text-center">
                            <a href="{{ url_for('approve_user', id=user.id) }}" class="btn btn-sm btn-outline-success">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32   " fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                                </svg>
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="text-center">
                            <a href="{{ url_for('requested_users', id=user.id) }}" class="btn btn-sm btn-outline-danger">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                            </svg>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        {% endfor %}
    </table>
{% endblock body %}